.wunderground-api-block .day {
  font-size: 10pt;
  text-align: center;
}
.wunderground-api-block .day-container {
  padding: 10px 0;
}
.wunderground-api-block img {
  display: block;
  margin: 0 auto;
}
.wunderground-api-block dl dt {
  clear: both;
  float: left;
}
.wunderground-api-block dl dd {
  float: left;
  margin-left: 5px;
}
